.myHeader {
    color: red;
}

.whiteFont {
    color: white;
}

.redFont {
    color: red;
}

.loginRow {
    margin: 0 0 1rem 0;
}

.buttonRow {
    margin: 0 2rem 2rem 0;
}

.loginInput {
    width: 100%;
}

.loginHeader {
    margin-bottom: 2rem;
}

.whiteHeader {
    color: white;
}

.loginForm {
    margin-top: 33%;
}

.loginBody {
    height: 94%;
    width: 100%;
    position: absolute;
}

.uploadPadding {
    padding: 0 2rem 0 2rem!important;
}

@media all and (min-width: 800px) {
    .loadWidth {
        margin-left: 2rem;
        width: 25rem!important;
    }
}

@media all and (max-width: 800px) {
    .mobileButton {
        font-size: 3rem;
    }
}

